<!DOCTYPE html>
<html lang="{{ site.lang}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{{ title }} | {{ site.name }}</title>
    {% include "partials/meta.njk" %}
    {% set css %}
      {% include "styles/main.css" | url %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div id="layout">
      {% include "partials/header.njk" %}
      <div id="main-container" role="document">
        <main role="main">
            {{ content | safe }}
        </main>
      </div>
      {% include "partials/footer.njk" %}
    </div>
  </body>
<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "b1d6813736ea49cb87bfce17d45bff35"}'></script><!-- End Cloudflare Web Analytics -->
</html>