---
layout: base
permalink: /about/
title: About
---

<article>
    <h2>About {{ site.name }}</h2>
    <p>
        The history of Pike County cannot be told without mentioning LGBTQ people or LGBTQ supporters.  It's in this spirit that we created the Zimmerman-Peirce Democrats in January 2024 so we can honor and defend the rights and lives of LGBTQ people in Pike County and throughout Pennsylvania.    
    </p>
    <p>
        <b>Marie Zimmerman</b>, born in 1879 in Brooklyn, NY, is known for her over 25 year career as one of the foremost metalworkers in the world in the early 1900's.  She sold her works at prestigious art shows, world's fairs, and other public exhibitions where she won prizes for her work.  In 1910, Zimmerman built her dream farm on land her family owned in Milford, PA, where she lived with her partner, flamboyant former Hollywood actress Ruth Allen in the late 1930's.
    </p>
    <p>
        <b>James Mills Peirce</b> (pronounced like &quot;purse&quot;), born in 1834 in Cambridge, MA, was a professor of astronomy and mathematics at Harvard University for 50 years.  His family, including his brother Charles Sanders Peirce who is known as the father of pragmatism, bought 2,000 acres of land near Milford, PA in 1887.  In 1897, the book Seuxual Inversion written by influential British sexologist Havelock Ellis featured a letter by Peirce under the pseudonym &quot;rofessor X&quot; where he wrote &quot;[W]e ought to think and speak of homosexual love, not as 'inverted' or 'abnormal' . . . but as being in itself a natural, pure and sound passion.&quot;
    </p>
    <p><a href="/membership"><button type="button" class="donate">Become a Member</button></a></p>
    <h3>Questions?</h3>
    <p>
        Email <a href="mailto:info@zpdems.org">info@zpdems.org</a>
    </p>

</article>
