---
layout: base
permalink: /donate/
title: Donate
---

<article>
    <h2><a href="https://secure.actblue.com/donate/zpdems" target="_blank"><button type="button" class="donate">Donate Today</button></a></h2>
    <p>
        This far-right Republican Party's embrace of anti-LGBTQ hostility is the result of calculated decisions to put LGBTQ issues at the forefront of far-right Republican campaigns so that they can win elections.  Most notably, in 2022, the organization American Principles Project spent almost $16 million in 13 states - which includes Pennsylvania - to support anti-LGBTQ Republican candidates that also do not support combatting the climate crisis, protecting voter rights, and protecting abortion access, just to name a few.  In short, the LGBTQ community is being used as a pawn, and the Republican party does not care about the collateral damage being done to our friends, family and neighbors.    
    </p>
    <p>
        So, whether you live in Pike County part-time and vote outside Pennsylvania, or you live here full time and vote here, promoting LGBTQ education and electing LGBTQ candidates/LGBTQ supportive candidates ensures that we can both support the LGBTQ community while fighting back the far-right Republican extremist agenda.
    </p>
    <p>
        Please consider making a donation to the Zimmerman-Peirce Democrats.  Your donation will enhance our efforts to
        <ul>
            <li>Support pro-LGBTQ Democrats to win local and state elections for school board, countywide office, the Pennsylvania state legislature, and more</li>
            <li>Train our neighbors on how to support Democratic candidates and how to best speak to voters about why they should support Democrats and the Democratic agenda</li>
            <li>Provide Pike County voters with information that counters damaging, right-wing talking points about the LGBTQ community</li>
        </ul>
    </p>
    <p>
        <a href="https://secure.actblue.com/donate/zpdems" target="_blank"><button type="button" class="donate">Donate Today</button></a>
    </p>
    <h3>Questions?</h3>
    <p>
        Email <a href="mailto:info@zpdems.org">info@zpdems.org</a>
    </p>

</article>

