---
layout: base
permalink: /elections/
title: Elections
---

<article>
    <h2>What You Need to Vote in 2024</h2>
    <p>
        &#9744; <a href="https://www.pavoterservices.pa.gov/pages/VoterRegistrationApplication.aspx" target="_blank">Register to vote in Pennsylvania</a><br/> 
        &#9744; <a href="https://www.pavoterservices.pa.gov/pages/voterregistrationstatus.aspx" target="_blank">Check your voter registration</a><br/>
        &#9744; <a href="https://www.pavoterservices.pa.gov/Pages/PollingPlaceInfo.aspx" target="_blank">Check your polling place</a><br/>
        &#9744; <a href="https://www.vote.pa.gov/Voting-in-PA/Pages/Mail-and-Absentee-Ballot.aspx" target="_blank">Apply for an absentee or mail-in ballot</a><br/>
    </p>
    <h2>Key Dates for Voters in the 2024 Election</h2>
    <p>
        <h3>Petition Signing</h3>
        <b>January 23rd through February 13th</b><br/>
        Democratic Candidates running for office in 2024 must collect a set number of signatures from registered Democrats that are eligible to vote for that particular candidate.
    </p>
    <p>
        <h3>Primary Election</h3>
        <b>April 23rd</b><br/> 
        Last day to register to vote in the April 23rd primary: <b>April 8th</b><br/> 
        Last day to request a mail-in ballot for the April 23rd primary: <b>April 16th</b><br/>
    </p>
    <p>
        <h3>General Election</h3>
        <b>November 5th</b><br/> 
        Last day to register to vote to vote in the <i>November 5th</i> general election: <b>October 21st</b><br/>
        Last day to request a mail-in ballot for the <i>November 5th</i> general election: <b>October 29th</b>
    </p>
    <h2>Here are the offices up for election in 2024</h2>
    <p>
        <i>US President</i> - currently held by Democrat Joe Biden who is running for re-election<br/>
        <i>US Senate for Pennsylvania</i> - currently held by Democrat Bob Casey who is running for re-election<br/>
        <i>US House Representative</i> for the 8th Congressional District (includes all of Pike County) - currently held by Democrat Matt Cartwright who is running for re-election<br/>
        <i>PA Attorney General</i> - currently held by Democrat Michelle Henry who is NOT running for re-election<br/>
        <i>PA Auditor General</i> - currently held by Republican Timothy DeFoor who is running for re-election<br/>
        <i>PA State Treasurer</i> - currently held by Republican Stacy Garrity who is running for re-election<br/>
        <i>PA House Representative for the 139th District (includes all of Pike County except for Lehman, Delaware and Porter Townships)</i> - currently held by Republican Joe Adams who is NOT seeking re-election<br/>
        <i>PA House Representative for the 189th District (includes ONLY Lehman, Delaware and Porter Townships)</i> - currently held by Democrat Tarah Probst who is seeking re-election<br/>
    </p>
    <h4>Stay tuned for more information about the 2024 election!</h4>
    <h3>Questions?</h3>
    <p>
        Email <a href="mailto:info@zpdems.org">info@zpdems.org</a>
    </p>
                    <p><a href="/membership"><button type="button" class="donate">Become a Member</button></a></p>

</article>
