---
layout: base
permalink: /events/
title: Events
---

<article>
    <h2>{{ title }}</h2>
    <p>
        Check out the list of events that ZPDems is a part of!
    </p>
    <p><a href="/membership"><button type="button" class="donate">Become a Member</button></a></p>
    <h3>Questions?</h3>
    <p>
        Email <a href="mailto:info@zpdems.org">info@zpdems.org</a>
    </p>

</article>
{% include "partials/posts-list-event.njk" %}