---
layout: base
permalink: /membership/
title: Become a member of the Zimmerman-Peirce Democrats
---

<article>
    <h2>{{ heading }}</h2>
    <p>
        Membership support ensures the Zimmerman-Peirce Democrats can operate and fulfill its mission. Please consider becoming a member of the Zimmerman-Peirce Democrats with a minimum annual contribution of $25, or for students, $10.  Here is what you can expect when you become a member:
    </p>
    <p>
        <ul>
            <li>Members will receive clear, timely information related to everything voters need to know about particular election cycles, including when to register to vote by mail, when and where to sign candidates’ petitions, which candidates are running for which offices, etc.</li>
            <li>Members will be asked to participate in endorsement decisions so together, we can make the best decisions about which candidates to support and how we will support them.</li>
            <li>Members will receive invitations to fun community building events, including happy hours, live music, drag entertainment, bingo, and more.</li>
            <li>Members will receive opportunities to volunteer in support of our mission’s three goals through the Community Education, Policy and Candidate Evaluation, and Membership Outreach committees</li>
            <li>If you are part of the first 50 members to sign up, you will receive a special gift as a thank you.</li>
    </p>
    <p>
        <a href="https://secure.actblue.com/donate/zpdemsmembership" target="_blank"><button type="button" class="donate">Become a Member Today</button></a>
    </p>
    <h3>Questions?</h3>
    <p>
        Email <a href="mailto:info@zpdems.org">info@zpdems.org</a>
    </p>
</article>
