---
layout: base
permalink: /talkingpoints/
title: Talking Points
---

<article>
    <h2>{{ title }}</h2>
    <p>
        The following text: Anti-LGBTQ hostility has become one of the main vehicles for far-right Republicans to mobilize their base and attract voters.  Regardless of your views on LGBTQ issues, if you are interested in electing Democrats, being able to speak to voters about both misinformation regarding the LGBTQ community, and accurate talking points that will help voters understand the issues is critical.  Click on an issue below and check out the talking points you can use in conversations with friends, neighbors, and anyone who is planning on voting in an election.
    </p>
    <h3>Questions?</h3>
    <p>
        Email <a href="mailto:info@zpdems.org">info@zpdems.org</a>
    </p>
</article>
{% include "partials/posts-list-talking.njk" %}
