<footer role="contentinfo">
  <div id="footer--container">
    <div id="footer--left">
      <p>
      Paid for by the Zimmerman-Peirce Democrats. <br/>
      Not authorized by any candidate or candidate's committee    
      </p>
    </div>
    <div id="footer--middle">
      <div id="socials">
        <a href="https://facebook.com/zpdems" target="_blank"><img src="/assets/images/fb.webp" width="50px" alt="Facebook" /></a>&nbsp;<a href="https://instagram.com/zpdems" target="_blank"><img src="/assets/images/insta.webp" width="50px" alt="Instagram" /></a>
      </div>
    </div>
    <div id="footer--right"> 
      &copy; {{ site.copyright }}
    </div>
  </div>
</footer>