<footer role="contentinfo">
  <div id="footer--container">
    <div id="footer--left">
      Paid for by the Zimmerman-Peirce Democrats. Not authorized by any candidate or candidate's committee    </div>
    <div id="footer--middle">
       <div data-netlify-identity-menu></div>
    </div>
    <div id="footer--right"> 
      &copy; {{ site.copyright }}
    </div>
  </div>
</footer>