---
layout: base
title: Home
permalink: '/'
heading: Statement of Purpose
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <table width="100%">
        <tr>
            <td width="70%">
                <p>
                    The Zimmerman-Peirce Democrats shall work within the Democratic Party and the community at large to honor and defend the rights and lives of Lesbian, Gay, Bisexual, Transgender and Queer (LGBTQ) people in Pike County and throughout the Commonwealth of Pennsylvania.  The Zimmerman-Peirce Democrats will accomplish this by 1) supporting public policies that advance the priorities of the LGBTQ community in Pennsylvania and the greater Pike County region, 2) electing qualified Democratic candidates that support equal rights for LGBTQ people and 3) working to sensitize and educate all candidates and office holders, Democratic Party leaders, and the community at large to the issues and concerns of the LGBTQ community.    
                </p>
                <p>
                    <a href="https://secure.actblue.com/donate/zpdems" target="_blank"><button type="button" class="donate">Donate Today!</button></a>
                </p>           
                <p><a href="/membership"><button type="button" class="donate">Become a Member</button></a></p>
                <h3>Contact Us</h3>
                <p><b>Mailing Address:</b><br/>
                    Zimmerman-Peirce Democrats<br/>
PO Box 1581<br/>
Milford, PA 18337</p>
<p>For general inquiries, email <a href="mailto:info@zpdems.org">info@zpdems.org</a></p>
            </td>
            <td>
                <p>
                    <img src="assets/images/zpdemsLogo-tp.png" alt="Zimmerman-Peirce Democrats Logo" >
                </p>
            </td>
        </tr>

    </table>
</article>
